body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Helvetica';
    background-color: #c05c7e;
    /* background-color: #07050b; */
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
