@keyframes brillar {
    0% { box-shadow: 0px 4px 15px gold; }
    50% { box-shadow: 0px 8px 30px rgb(69, 66, 35); }
    100% { box-shadow: 0px 4px 15px gold; }
}

#titulo {
    /* color: gold; */
    color: #444;
    margin: 0;
    position: absolute;
    top: 15px;
    left: 15px;
}

#juego {
    height: 600px;
    width: 1100px;
    border: 1px solid #ccc;
    position: relative;
    /* border: 2px solid gold;
    animation: brillar 5s ease-in-out infinite; */
}

#juego .panel {
    width: 280px;
    height: 100%;
    border-right: 1px solid #ccc;
    padding: 10px;
    display: block;
    float: left;
}

#juego .panel.enemigo {
    float: right;
    border-right: none;
    border-left: 1px solid #ccc;
}

#juego .panel section {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

#juego .panel h2 {
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
}

.seccion-estadisticas .fila-estadisticas li,
.seccion-estadisticas .columna-estadisticas li {
    margin-bottom: 10px;
}

.seccion-estadisticas .fila-estadisticas,
.seccion-estadisticas .columna-estadisticas {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}

.seccion-estadisticas .columna-estadisticas {
    width: 50%;
}

.seccion-estadisticas .fila-estadisticas {
    width: 100%;
}

.seccion-estadisticas .fila-estadisticas span,
.seccion-estadisticas .fila-estadisticas strong {
    width: 100%;
    display: inline-block;
    text-align: left;
}

.seccion-estadisticas .columna-estadisticas span,
.seccion-estadisticas .columna-estadisticas strong {
    width: 100%;
    display: inline-block;
    text-align: center;
}

button {
    padding: .5em 1em;
    margin-bottom: 1em;
}

#overlay-seleccion-personaje {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #444;
    margin: 0;
}

#overlay-seleccion-personaje .personajes {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#overlay-seleccion-personaje .personajes .personaje {
    border: 1px solid #ccc;
    box-shadow: 0px 1px 2px rgba(0,0,0,.1);
    margin: 0 10px;
    padding: 2em;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

#overlay-seleccion-personaje .personajes .personaje:hover {
    box-shadow: 0px 2px 10px rgba(0,0,0,.2);
}
